# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## Laboratório Prático - Count/Frequency Encoding

Usamos este dataset como referência e fizemos alterações para o Lab:

https://www.kaggle.com/c/mercedes-benz-greener-manufacturing

In [5]:
# Imports
import pandas as pd
import numpy as np

In [6]:
# Mostrar todas as colunas do dataframe
pd.set_option('display.max_columns', None)

In [7]:
# Carrega os dados do arquivo CSV localizado na pasta 'dados', selecionando apenas as colunas 'X1', 'X2' e 'X3'
df = pd.read_csv('dados/dataset.csv', usecols=['X1', 'X2', 'X3'])

In [8]:
# Shape
df.shape

(4209, 3)

In [9]:
# Amostra dos dados
df.head()

  X1  X2 X3
0  v  at  a
1  t  av  e
2  w   n  c
3  t   n  f
4  v   n  f

In [10]:
# Conta a quantidade de valores únicos presentes na coluna 'X1' do DataFrame
len(df.X1.unique())

27

In [11]:
# Vamos contar os valores únicos para cada coluna
for i in df.columns:
    print(i,"-", len(df[i].unique()), "categorias")

X1 - 27 categorias
X2 - 44 categorias
X3 - 7 categorias

In [12]:
# Obtém a contagem (frequência) de cada categoria presente na coluna 'X1' e a converte em um dicionário
frequencia = df.X1.value_counts().to_dict()

In [13]:
# Visualiza
frequencia

{'aa': 833,
 's': 598,
 'b': 592,
 'l': 590,
 'v': 408,
 'r': 251,
 'i': 203,
 'a': 143,
 'c': 121,
 'o': 82,
 'w': 52,
 'z': 46,
 'u': 37,
 'e': 33,
 'm': 32,
 't': 31,
 'h': 29,
 'f': 23,
 'y': 23,
 'j': 22,
 'n': 19,
 'k': 17,
 'p': 9,
 'g': 6,
 'ab': 3,
 'd': 3,
 'q': 3}

In [14]:
# Agora fazemos o replace de cada categoria pela contagem/frequencia na coluna X1
# Substitui os valores da coluna 'X1' pela sua respectiva frequência, mapeando cada valor para sua contagem 
df.X1 = df.X1.map(frequencia)

In [15]:
df

       X1  X2 X3
0     408  at  a
1      31  av  e
2      52   n  c
3      31   n  f
4     408   n  f
...   ...  .. ..
4204  598  as  c
4205   82   t  d
4206  408   r  a
4207  251   e  f
4208  251  ae  c

[4209 rows x 3 columns]

> Fazemos o mesmo para as demais colunas.

In [17]:
# Contagem/frequencia das categorias da coluna X2
frequencia = df.X2.value_counts().to_dict()

In [18]:
# Agora fazemos o replace de cada categoria pela contagem/frequencia na coluna X2
df.X2 = df.X2.map(frequencia)

In [19]:
# Contagem/frequencia das categorias da coluna X3
frequencia = df.X3.value_counts().to_dict()

In [20]:
# Agora fazemos o replace de cada categoria pela contagem/frequencia na coluna X3
df.X3 = df.X3.map(frequencia)

In [21]:
# Verificamos se algum valor nulo foi gerado
df.isnull().any()

X1    False
X2    False
X3    False
dtype: bool

In [22]:
# Transformação realizada com sucesso
df

       X1    X2    X3
0     408     6   440
1      31     4   163
2      52   137  1942
3      31   137  1076
4     408   137  1076
...   ...   ...   ...
4204  598  1659  1942
4205   82    29   290
4206  408   153   440
4207  251    81  1076
4208  251   496  1942

[4209 rows x 3 columns]

# Fim