# <font color='blue'>Data Science Academy</font>
# <font color='blue'>Análise de Dados com Linguagem Python</font>

## <font color='blue'>Projeto 5</font>
## <font color='blue'>Análise de Dados Para Traçar Estratégias de Crescimento e Retenção da Base de Clientes</font>

![title](imagens/Projeto5.png)

## Pré-Requisitos

Recomendamos que você tenha concluído pelo menos os 5 primeiros capítulos do curso gratuito de <a href="https://www.datascienceacademy.com.br/course?courseid=python-fundamentos">Python Fundamentos Para Análise de Dados</a>. Recomendamos ainda o capítulo sobre Machine Learning nesse mesmo curso.

## Instalando e Carregando os Pacotes

In [5]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.8.20

In [6]:
# Para atualizar um pacote, execute o comando abaixo no terminal ou prompt de comando:
# pip install -U nome_pacote

# Para instalar a versão exata de um pacote, execute o comando abaixo no terminal ou prompt de comando:
# !pip install nome_pacote==versão_desejada

# Depois de instalar ou atualizar o pacote, reinicie o jupyter notebook.

# Instala o pacote watermark. 
# Esse pacote é usado para gravar as versões de outros pacotes usados neste jupyter notebook.
# !pip install -q -U watermark

In [7]:
# Imports
import pandas as pd
import numpy as np
from sklearn import linear_model
import warnings
import seaborn as sbn
warnings.filterwarnings("ignore")

In [8]:
# Versões dos pacotes usados neste jupyter notebook
%reload_ext watermark
%watermark -a "Data Science Academy" --iversions

Author: Data Science Academy

platform  : 1.0.8
numpy     : 1.24.3
IPython   : 8.12.2
pandas    : 1.2.4
json      : 2.0.9
sklearn   : 1.3.2
seaborn   : 0.13.2
sys       : 3.8.20 (default, Oct  3 2024, 15:19:54) [MSC v.1929 64 bit (AMD64)]
ipywidgets: 8.1.2

## Carregando os Dados

In [10]:
# Carrega os dados
dados = pd.read_csv('dados/dataset.csv')

In [11]:
# Shape
dados.shape

(4209, 378)

In [12]:
# Visualiza os dados
dados

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [13]:
# Tipos de dados
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

> Pergunta: Para a variável categórica (object) no dataset, qual técnica de encoding devemos aplicar? Justifique sua resposta.

## Aplicando One-Hot-Encoding

https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html

In [16]:
# Dataset original
dados

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [17]:
# Obtém as variáveis dummy
df_dummies = pd.get_dummies(dados['Modelo'])

KeyError: 'Modelo'

In [ ]:
# Variáveis dummy
df_dummies

In [ ]:
# Concatenamos os dataframes
df = pd.concat([dados, df_dummies], axis = 'columns')

In [ ]:
df

In [ ]:
# Drop da coluna categórica
newdf = df.drop(['Modelo'], axis = 1)

In [ ]:
newdf

In [ ]:
# Define os valores de X
x = newdf.drop('Preco_Venda', axis = 1)
x

In [ ]:
# Define os valores de y
y = newdf['Preco_Venda']
y

In [ ]:
# Cria o modelo
modelo_v1 = linear_model.LinearRegression()

In [ ]:
# Treina o modelo
modelo_v1.fit(x,y)

In [ ]:
# Previsões do modelo
modelo_v1.predict(x)

In [ ]:
# Uma previsão
modelo_v1.predict([[7000,4,0,0,1]])

In [ ]:
# Uma previsão
modelo_v1.predict([[45000,4,0,1,0]])

In [ ]:
# Uma previsão
modelo_v1.predict([[86000,7,1,0,0]])

In [ ]:
# Acurácia do modelo
modelo_v1.score(x,y)

## Aplicando Label Encoding

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Cópia do dataframe original
df_car = dados

In [ ]:
df_car

In [ ]:
# Cria o objeto encoder
le = LabelEncoder()

In [ ]:
# Aplica o encoder
df_car['Modelo'] = le.fit_transform(df_car['Modelo'])

In [ ]:
df_car

In [ ]:
# Define os valores de X
x = df_car[['Modelo', 'Kilometragem', 'Idade_Veiculo']].values
x

In [ ]:
# Define os valores de y
y = df_car['Preco_Venda']
y

In [ ]:
# Cria a versão 2 do modelo
modelo_v2 = linear_model.LinearRegression()

In [ ]:
# Treina o modelo
modelo_v2.fit(x,y)

In [ ]:
# Faz previsões
modelo_v2.predict(x)

In [ ]:
# Calcula a acurácia
modelo_v2.score(x,y)

## Aplicando One-Hot-Encoding com Transformer

https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

https://scikit-learn.org/stable/modules/generated/sklearn.compose.ColumnTransformer.html

In [ ]:
# Carrega os dados
dados = pd.read_csv('dados/dataset.csv')
dados

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [ ]:
# Cria o encoder com transformação
OHEncoder = ColumnTransformer([('Modelo', OneHotEncoder(), [0])], remainder = 'passthrough')

In [ ]:
# Cópia do dataframe original
df_car = dados

In [ ]:
df_car

In [ ]:
# Define os valores de X
x = df_car.drop('Preco_Venda', axis = 1)
x

In [ ]:
# Define os valores de y
y = df_car['Preco_Venda']
y

In [ ]:
# Aplica o encoder ao dataset x
X = OHEncoder.fit_transform(x)
X

In [ ]:
# Cria a versão 3 do modelo
modelo_v3 = linear_model.LinearRegression()

In [ ]:
# Treina o modelo
modelo_v3.fit(X,y)

In [ ]:
# Uma previsão do modelo
modelo_v3.predict([[0,0,1,45000,4]])

In [ ]:
# Uma previsão do modelo
modelo_v3.predict([[0,1,0,86000,7]])

In [ ]:
# Uma previsão do modelo
modelo_v3.score(X,y)

## Salva o Modelo Treinado

In [ ]:
import joblib

In [ ]:
# Dump do modelo
joblib.dump(modelo_v3,'modelo/modelo_treinado.pkl')

## Conclusão

Para este conjunto de dados a técnica de One-Hot-Encoding mostrou ser a mais efetiva e deveria ser usada no processamento dos dados para modelagem preditiva.

# Fim